<web-app ... version="4.0">
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.example.pos.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
</web-app>